header {
  border: 2px solid black;
  font-size: x-large;
  background-color: #99a;
  text-align: center;
}

h1 {
  display: inline-block;
}

nav{
  text-align: center;
  font-size: .9em;
}

nav ul {
  padding: 0;
  margin: 0 2px;
  list-style-type: none;
}

nav li {
  display: inline-block;
  padding: 5px 5px;
  
}

main {
  width: 960px;
  margin: 30px auto;
}

.cs h2{
  display: inline-block;
  margin-right: 2em;
  text-align: left;
}

.cs img {
  display: inline-block;
}

.cs section{
  margin-left: 1em;
}

section{
  align-items: center;
}

.camping_options {
  border: 2px solid black;
  display: inline-block;
  max-width: 30%;
  align-items: center;
  text-align: center;
}


footer {
  background: #555;
  border-top: 1px solid #eee;;
  color: ivory;
  padding: 20px;
  text-align: center;
}