body {
  background-color: rgb(185, 185, 159);
}
header {
  border: 2px solid black;
  font-size: x-large;
  background-color: #99a;
  text-align: center; 
}

script{
  text-align: left;
  margin-top: auto;
  font-family: cursive;
}

h1 {
  display: inline-block;
  font-family: fantasy;
}

nav{
  text-align: center;
  font-size: .9em;
}

nav ul {
  padding: 0;
  margin: 0 2px;
  list-style-type: none;
}

nav li {
  display: inline-block;
  padding: 5px 5px;
  
}

main {
  width: 960px;
  margin: 30px auto;
}

p{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  margin-top:auto;
}
.cs h2{
  text-align: left;
  font-family: fantasy;
  float: top;
font-weight: bolder;

}

.cs img {
  display: inline-block;
  width: 750px;
  height: 400px;
  float:right;
}

.cs section{
  margin-left: 2em;
}

section{
  align-items:center;
}

.camping_options {
  border: 2px solid black;
  border-width: 5px;
  display: inline-block;
  max-width: 30%;
  align-items: center;
  text-align: center;
  margin-top: auto;
  
  
}

.camping_options img{
height:180px;
}

footer {
  background: #555;
  border-top: 1px solid #eee;;
  color: ivory;
  padding: 20px;
  text-align: center;
}

